/*layout content and sidebar*/
@media (min-width: 48em) {
    .content {
        display: grid;
        grid-template-columns: auto 220px;
        grid-column-gap: 35px;
        padding-left:2em;
    }
    .main {
        border-right: 1px solid #edeeef;
        padding-right:2em;
    }
    .aside {
        padding-right: 2em;
    }
}

@media (min-width: 64em) {
    .content {
        display: grid;
        grid-template-columns: auto 350px;
        grid-column-gap: 0px;
        padding-left:2em;
    }
    .main {
        border-right: 1px solid #edeeef;
        padding-right:2em;
    }
    .aside {
        margin-right: 2em;
    }
}
/*End of layout content and sidebar*/



